:root {
    --rosa: rgba(255, 244, 250, 1);
    
    --purpuraclaro: #CBA2CE;
    --backbutton: 0px 10px 20px rgba(0, 0, 0, 0.25);
    --hoverbutton: 0px 10px 30px rgba(0, 0, 0, 0.25);
    --Thistle: #B37BB7;
    --PaleLavender: #ECCCEF;
    --MistyRose : #FFF4FA;
    --backCard: 0px 20px 40px rgba(0, 0,0,0.15);
    --Gainsboro: #F0F0F0;
    --Lavender-Blush: #FFF4FA;
    --White-Smoke: #F0F0F0;
    --Lilac: #CBA2CE;
    --button: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: var(--rosa);
}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    top: 0px;

    background-color: #b024bd;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;

}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #FFFF;

    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 23px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #3f3f3f;
}

.header {

    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: auto !important;

    
    margin-bottom: 20px;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFF;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding-bottom: 0 50px;
}


.btnproducto {
    display: inline-block;
    margin-top: 15px;

    border: 2px solid #9c27b0;
    color: #FFFF;
    text-decoration: none;

    max-width: 37px;
    max-height: 24px;

    /* uva */

    background: #CBA2CE;
}



.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 36px;
    background: #1f1d1d;
}

.boxcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 80px;
    


}

.detalleproducto {

    padding: 16px 17px;


    display: inline-block;
    width: 45vh;
    height: 398px;
    left: 731px;
    top: 50px;

    background: #FFFFFF;
    /* black card */

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);

}

.box-container .box {
    height: 17rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #FFFF;
    background: #9c27b0;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    font-size: 16px;
    padding: 0 15px;
}

.about {
    background: #171717;

}

.price {
    background: url () no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding: 20px;
    background: #171717;
    padding-bottom: 0;
}

.imgcontainer img {

    width: 45vh;
    height: 282px;



}

.imgcontainer {

    width: 45vh;

}



@media (max-width: 720px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
        margin: 2rem;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }



}

 /* inicia el carrucel */
 .slideshow-container {
    margin-top: 60px;
    display: flex;
    background-color: rgba(203, 162, 206, 1);
    position: relative;
    height: 300px;
    width: 100%;
    justify-content: center;
    text-align: center

  }

  .slideshow-container  img {


    height: 25vh;
    object-fit: cover;
    object-position: center;
    transition: opacity 1s ease-in-out;
  

  }



  /* Termina el carrucel */





.container-producto{
    display: flex;
    flex-direction: row;
   flex-wrap: 
   wrap;
    margin-top: 73px;
    
   
}

.producto {
    box-sizing: border-box;


    width: 294px;
    height: 404px;
    left: 46px;
    top: 175px;
    margin-left: 7px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    /* black card */

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

.producto img {
    width: 292.01px;
    height: 282px;

}

.productoinfo {
    width: 294px;
    height: 130px;


}


/*Categorria Producto*/
.productocategoria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;


  }

  .productos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    max-width: 100%;
    left: 2.73%;
    right: 0%;
    top: 16.99%;
    bottom: -6.73%;
    overflow-x: auto;

  }

  .productos {
    width: 100%;
    
    
  }
  
  .productos .card {
    flex: 0 0 calc(20% - 15px); /* Establece un ancho fijo para cada tarjeta */
    margin-bottom: 10px;
    height: 100%;
  }

  .card {
    width: 200px !important;;
    
    margin-bottom: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-link {
    text-decoration: none;
  }
  
  .card-img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-price {
    font-weight: bold;
  }
  

  /*Fin de Categorria Producto*/

  /*Inicia el footer*/
  .footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 9px;
    gap: 35px;

    
    width: 100%;
    height: 15%;
    color: white;



    background: #DFA7E4;
}
.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer__info h3 {
    color: #FFFFFF;
}
 
 /*FIn de el footer*/

.socialred {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    max-width: 298px;
    justify-content: space-between;
    margin-top: 42px;
    border-radius: 40px;
    padding-top: 6px;
    padding-right: 21px;
    padding-bottom: 6px;
    padding-left: 21px;
    align-items: center;
    color: white;
    box-shadow: var(--backbutton);
    background-color: var(--purpuraclaro);
  }

  .socialred:hover{
    box-shadow: var(--hoverbutton);
    background-color: var(--Thistle);
  }

  @media (max-width: 640px) {
    .socialred {
      width: 45vw;
    }
  }

  .social-login-text {
    max-width: 167px;
    margin-left: 41px;

    font-size: 16px;
    
    text-align: left;
    font-family: "Inter", sans-serif;
  }

  .input-text {
    display: flex;
    flex-direction: column;

    max-width: 531px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 42px;
    width: 45vw;
  }

  @media (max-width: 700px) {
    .input-text {
      margin-left: auto;
      margin-right: auto;
    }
  }


  .about {
    all: unset;
    margin-top: 20px;
    appearance: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--purpuraclaro);
    color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    width: 30vw;
    border-radius: 10px;
    box-shadow: var(--backbutton);
    display: flex;
    justify-content: center;
  }
  h1 {
    margin-right: auto;
    margin-left: auto;
   
    color: var(--PaleLavender);
    font-size: 80px;
    letter-spacing: 0%;
    
    font-family: "Inter", sans-serif;
    
  }

  .login-button {
    all: unset;
    margin-top: 20px;
    appearance: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--purpuraclaro);
    color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    width: 30vw;
    border-radius: 10px;
    box-shadow: var(--backbutton);
    display: flex;
    justify-content: center;
  }

  .a:hover {
    background-color: var(--Thistle);
    box-shadow: var(--hoverbutton);

  }
  .input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
    
    
  }

  .cuadro{
    margin-top: 90px;
    max-width: 750px;
    height: 39em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    box-shadow: var(--backCard);
  }
  @media (max-width: 991px) {
    .cuadro{
      width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
  }
  }

  .div-4 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 38px;
    width: 60px;
  }

  @media (max-width: 991px) {
    .div-4 {
      width: 45vw;
    }
  }

.swiper-button-prev1{
  position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
  }
  .swiper-button-next1{
    position: absolute;
      top: var(--swiper-navigation-top-offset,50%);
      width: calc(var(--swiper-navigation-size)/ 44 * 27);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--swiper-navigation-color,var(--swiper-theme-color));
    }

    .swiper-button-next1{
      right: var(--swiper-navigation-sides-offset,10px);
      left: auto;
      transform: 'rotate(180deg)'
    }



  

  
  .cart {
      display: flex;
      flex-direction: row;
      margin-top: 60px;
  }
  
  .summary-details {
      padding: 22px;
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: column;
      gap: 27px;
  
  }
  
  .shopping-cart {
      width: 50%;
  
  }
  
  .shopping-details {
  
      display: flex;
      flex-direction: column;
  
  
  }
  
  .summary {
  
      
  
  
      display: flex;
      flex-direction: column;
      gap: 27px;
      width: 50%;
      background-color: var(--White-Smoke);
  
  
  }
  
  .title-cart {
      height: 7vh;
      border-bottom: 1px solid;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  
  .between {
      display: flex;
      justify-content: space-around;
  }
  
  .summary select {
      background-color: var(--Lilac);
      width: 28.5vw;
      height: 65px;
      left: 85px;
      border: none;
      border-radius: 5px;
      box-shadow: var(--button);
      margin: 0px auto;
  }
  
  .summary option {
      background-color: white;
      width: 28.5vw;
      height: 65px;
      left: 85px;
      border: none;
      border-radius: 5px;
  
  }
  
  
  
  .summary input[type="text"] {
      background-color: white;
      width: 28.5vw;
      height: 65px;
      left: 85px;
      border: none;
      margin: 0px auto;
  
  }
  
  .summary input[type="submit"] {
      background-color: var(--Lilac);
      width: 28.5vw;
      height: 7vh;
      left: 85px;
      border: none;
      border-radius: 5px;
  
  }
  
  section {
      text-align: center;
  }
  
  .item {
      display: flex;
      background-color: var(--Lilac);
      width: 40vw;
      border-radius: 10px;
      justify-content: space-between;
      align-items: center;
      padding: 27px;
      margin: 10px auto;
  }
  
  .total {
      top: 0px;
  }
  
  .item img {
      height: 90px;
  }
  
  .item input {
      background-color: #CBA2CE;
      width: 5vw;
  }
  
  @media screen and (max-width: 1023px) {
      .cart {
  
          flex-direction: column;
      }
  
      .shopping-cart {
          width: 100%;
      }
  
      .summary {
          width: 100%;
      }
  
      .item {
          width: 80vw;
      }
  
      .summary input[type="submit"] {
  
          width: 50.5vw;
          height: 7vh;
  
  
      }
  
      .summary select {
          width: 50.5vw;
      }
  
      .summary input[type="text"] {
  
          width: 50.5vw;
  
  
  
      }
  }

  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #474bff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
 }
 
 @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
 
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
 
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
 
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
 }
 
 @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
 
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
 
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
 
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
 }
 #cajacabecera {
  width: 100%;
  background: #FFF4FA;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

#cabecera {
  width: 100%;
  height: 11%;
  max-height: 1100px;
  display: flex;
  margin: auto;
  border-bottom-style: solid;
  border-width: 1px;
}

#logo {
  width: 20%;
  padding: 0px 30px;
}

.menu {
  width: 80%;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 30px 0px 0px 0px;
  list-style: none;
}

.menu a {
  display: block;
  line-height: 30px;
  padding: 0px 10px;
  color: black;
  font-family: 'Inter';
  font-size: 16px;
}

.menu a i {
  font-size: 16px;
  padding: 0 5px;
}

.carro {
  background-color: grey;
  margin-left: 20px;
  font-family: 'Inter';
}

.menu a:hover {
  color: #fff;
  border-bottom: 0px solid #f2f2f2;
  background-color: #f2e9;
}

.mmenu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateX(-100%);
}

#btn-submenu:checked~.mmenu {
  transform: translateX(0%);
  transition: all 0.6s;
}
#cabecera a img{
  width: 68px;
  padding: 0px;
  border: none;
}





@media (max-width: 768px) {
  #logo {
      padding: 0px;
      text-align: center;
  }

  .menu {
      width: 100%;
      display: none;
  }

  #mmovil {
      display: block;
  }

  #btn-menu:checked~.menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FFF4FA;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0px;
      z-index: 999;
  }

  .menu a {
      padding: 10px 0px;
  }

  .btn {
      display: flex;
      flex-direction: row;
      padding: 0px;
      border-right-style: none;
      border-bottom-style: solid;
      border-width: 1px;
  }

  .menum {
      padding: 0px;
      border-right-style: none;
      border-bottom-style: solid;
      border-width: 1px;
  }

  .mmenu ul {
      flex-direction: column;
      background: #FFF4FA;
      margin: 0;
      padding: 0;
  }

  .mmenu a {
      line-height: 30px;
      padding: 10px;
      border-bottom: 1px solid black;
  }

  .submenum {
      display: flex;
      flex-direction: column;
  }

  #btn-submenu {
      display: none;
  }

  #categoria {
      text-align: left;
      padding: 0px 6px 0px 0px;
      font-size: 12px;
  }

  .carro {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      text-align: center;
  }}